.DS_Store
node_modules/
dist/
.idea/
build/
config/
data/
hooks/
platforms/
plugins/
typing/
vue-devtools/
www/
npm-debug.log
test/unit/coverage
test/e2e/reports
selenium-debug.log
platforms/android/.gradle/4.1/fileHashes/fileHashes.bin
platforms/android/app/build/intermediates/assets/debug/www/static/js/app.0fa6f433800a693ea0f8.js.map
platforms/android/.gradle/4.1/fileHashes/fileHashes.bin
platforms/android/.gradle/4.1/fileHashes/fileHashes.lock
platforms/android/.gradle/4.1/taskHistory/fileSnapshots.bin
platforms/android/.gradle/4.1/taskHistory/taskHistory.bin
platforms/android/.gradle/4.1/taskHistory/taskHistory.lock
platforms/android/app/build/intermediates/assets/debug/www/index.html
platforms/android/app/build/intermediates/assets/debug/www/static/js/app.0fa6f433800a693ea0f8.js
platforms/android/app/src/main/assets/www/static/js/manifest.b79038a7aa32963f351c.js.map
platforms/android/app/build/intermediates/assets/debug/www/static/js/app.810cdabfb8dafb3595e8.js
platforms/android/app/build/intermediates/assets/debug/www/static/js/app.810cdabfb8dafb3595e8.js.map
platforms/android/app/build/intermediates/assets/debug/www/static/js/manifest.aafc3d09ed4e631b01df.js
platforms/android/app/build/intermediates/assets/debug/www/static/js/manifest.aafc3d09ed4e631b01df.js.map
platforms/android/app/build/intermediates/assets/debug/www/static/js/manifest.b79038a7aa32963f351c.js
platforms/android/app/build/intermediates/assets/debug/www/static/js/manifest.b79038a7aa32963f351c.js.map
platforms/android/app/build/intermediates/incremental/mergeDebugAssets/merger.xml
platforms/android/app/build/intermediates/incremental/packageDebug/debug/dex-renamer-state.txt
platforms/android/app/build/intermediates/incremental/packageDebug/debug/file-input-save-data.txt
platforms/android/app/build/outputs/apk/debug/app-debug.apk
platforms/android/app/src/main/assets/www/index.html
platforms/android/app/src/main/assets/www/static/js/app.0fa6f433800a693ea0f8.js
platforms/android/app/src/main/assets/www/static/js/app.0fa6f433800a693ea0f8.js.map
platforms/android/app/src/main/assets/www/static/js/app.810cdabfb8dafb3595e8.js
platforms/android/app/src/main/assets/www/static/js/app.810cdabfb8dafb3595e8.js.map
platforms/android/app/src/main/assets/www/static/js/manifest.aafc3d09ed4e631b01df.js
platforms/android/app/src/main/assets/www/static/js/manifest.aafc3d09ed4e631b01df.js.map
platforms/android/app/src/main/assets/www/static/js/manifest.b79038a7aa32963f351c.js
www/static/js/vendor.ee573be494fa57637834.js.map
www/static/css/app.07b1264bd4c5ed59e0324a4c633c8d26.css
www/static/css/app.07b1264bd4c5ed59e0324a4c633c8d26.css.map
www/static/js/app.810cdabfb8dafb3595e8.js
www/static/js/app.810cdabfb8dafb3595e8.js.map
www/static/js/manifest.b79038a7aa32963f351c.js
www/static/js/manifest.b79038a7aa32963f351c.js.map
www/static/js/vendor.ee573be494fa57637834.js
www/static/js/manifest.b79038a7aa32963f351c.js.map
platforms/android/.gradle/4.1/fileHashes/fileHashes.bin
platforms/android/.gradle/4.1/fileHashes/fileHashes.lock
platforms/android/.gradle/4.1/taskHistory/fileSnapshots.bin
platforms/android/.gradle/4.1/taskHistory/taskHistory.bin
platforms/android/.gradle/4.1/taskHistory/taskHistory.lock
platforms/android/app/build/intermediates/assets/debug/www/index.html
platforms/android/app/build/intermediates/assets/debug/www/static/js/app.0fa6f433800a693ea0f8.js
platforms/android/app/build/intermediates/assets/debug/www/static/js/app.0fa6f433800a693ea0f8.js.map
platforms/android/app/build/intermediates/assets/debug/www/static/js/app.810cdabfb8dafb3595e8.js
platforms/android/app/build/intermediates/assets/debug/www/static/js/app.810cdabfb8dafb3595e8.js.map
platforms/android/app/build/intermediates/assets/debug/www/static/js/manifest.aafc3d09ed4e631b01df.js
platforms/android/app/build/intermediates/assets/debug/www/static/js/manifest.aafc3d09ed4e631b01df.js.map
platforms/android/app/build/intermediates/assets/debug/www/static/js/manifest.b79038a7aa32963f351c.js
platforms/android/app/build/intermediates/assets/debug/www/static/js/manifest.b79038a7aa32963f351c.js.map
platforms/android/app/build/intermediates/incremental/mergeDebugAssets/merger.xml
platforms/android/app/build/intermediates/incremental/packageDebug/debug/dex-renamer-state.txt
platforms/android/app/build/intermediates/incremental/packageDebug/debug/file-input-save-data.txt
platforms/android/app/build/outputs/apk/debug/app-debug.apk
platforms/android/app/src/main/assets/www/index.html
platforms/android/app/src/main/assets/www/static/js/app.0fa6f433800a693ea0f8.js
platforms/android/app/src/main/assets/www/static/js/app.0fa6f433800a693ea0f8.js.map
platforms/android/app/src/main/assets/www/static/js/app.810cdabfb8dafb3595e8.js
platforms/android/app/src/main/assets/www/static/js/app.810cdabfb8dafb3595e8.js.map
platforms/android/app/src/main/assets/www/static/js/manifest.aafc3d09ed4e631b01df.js
platforms/android/app/src/main/assets/www/static/js/manifest.aafc3d09ed4e631b01df.js.map
platforms/android/app/src/main/assets/www/static/js/manifest.b79038a7aa32963f351c.js
platforms/android/app/src/main/assets/www/static/js/manifest.b79038a7aa32963f351c.js.map
www/static/css/app.07b1264bd4c5ed59e0324a4c633c8d26.css
www/static/css/app.07b1264bd4c5ed59e0324a4c633c8d26.css.map
www/static/js/app.810cdabfb8dafb3595e8.js
www/static/js/app.810cdabfb8dafb3595e8.js.map
www/static/js/manifest.b79038a7aa32963f351c.js
www/static/js/vendor.ee573be494fa57637834.js
www/static/js/vendor.ee573be494fa57637834.js.map
platforms/android/.gradle/4.1/fileHashes/fileHashes.bin
platforms/android/.gradle/4.1/fileHashes/fileHashes.lock
platforms/android/.gradle/4.1/taskHistory/fileSnapshots.bin
platforms/android/.gradle/4.1/taskHistory/taskHistory.bin
platforms/android/.gradle/4.1/taskHistory/taskHistory.lock
platforms/android/app/build/intermediates/assets/debug/www/index.html
platforms/android/app/build/intermediates/assets/debug/www/static/js/app.810cdabfb8dafb3595e8.js
platforms/android/app/build/intermediates/assets/debug/www/static/js/app.810cdabfb8dafb3595e8.js.map
platforms/android/app/build/intermediates/assets/debug/www/static/js/manifest.b79038a7aa32963f351c.js
platforms/android/app/build/intermediates/assets/debug/www/static/js/manifest.b79038a7aa32963f351c.js.map
platforms/android/app/build/intermediates/incremental/mergeDebugAssets/merger.xml
platforms/android/app/build/intermediates/incremental/packageDebug/debug/dex-renamer-state.txt
platforms/android/app/build/intermediates/incremental/packageDebug/debug/file-input-save-data.txt
platforms/android/app/build/outputs/apk/debug/app-debug.apk
platforms/android/app/src/main/assets/www/index.html
platforms/android/app/src/main/assets/www/static/js/app.810cdabfb8dafb3595e8.js
platforms/android/app/src/main/assets/www/static/js/app.810cdabfb8dafb3595e8.js.map
platforms/android/app/src/main/assets/www/static/js/manifest.b79038a7aa32963f351c.js
platforms/android/app/src/main/assets/www/static/js/manifest.b79038a7aa32963f351c.js.map
www/static/css/app.07b1264bd4c5ed59e0324a4c633c8d26.css
www/static/css/app.07b1264bd4c5ed59e0324a4c633c8d26.css.map
www/static/js/app.810cdabfb8dafb3595e8.js
www/static/js/app.810cdabfb8dafb3595e8.js.map
www/static/js/manifest.b79038a7aa32963f351c.js
www/static/js/manifest.b79038a7aa32963f351c.js.map
www/static/js/vendor.ee573be494fa57637834.js
www/static/js/vendor.ee573be494fa57637834.js.map
platforms/android/app/build/intermediates/assets/debug/www/index.html
platforms/android/.gradle/4.1/fileHashes/fileHashes.bin
platforms/android/.gradle/4.1/fileHashes/fileHashes.lock
platforms/android/.gradle/4.1/taskHistory/fileSnapshots.bin
platforms/android/.gradle/4.1/taskHistory/taskHistory.bin
platforms/android/.gradle/4.1/taskHistory/taskHistory.lock
platforms/android/app/build/outputs/apk/debug/app-debug.apk
platforms/android/app/build/intermediates/incremental/mergeDebugAssets/merger.xml
platforms/android/app/build/intermediates/incremental/packageDebug/debug/dex-renamer-state.txt
platforms/android/app/build/intermediates/incremental/packageDebug/debug/file-input-save-data.txt
platforms/android/app/src/main/assets/www/index.html
platforms/android/app/build/intermediates/incremental/mergeDebugAssets/merger.xml
platforms/android/.gradle/4.1/fileHashes/fileHashes.bin
platforms/android/.gradle/4.1/fileContent/fileContent.lock
platforms/android/.gradle/4.1/fileHashes/fileHashes.lock
platforms/android/.gradle/4.1/fileHashes/resourceHashesCache.bin
platforms/android/.gradle/4.1/javaCompile/classAnalysis.bin
platforms/android/.gradle/4.1/javaCompile/jarAnalysis.bin
platforms/android/.gradle/4.1/javaCompile/javaCompile.lock
platforms/android/.gradle/4.1/javaCompile/taskHistory.bin
platforms/android/.gradle/4.1/javaCompile/taskJars.bin
platforms/android/.gradle/4.1/taskHistory/fileSnapshots.bin
platforms/android/.gradle/4.1/taskHistory/taskHistory.bin
platforms/android/.gradle/4.1/taskHistory/taskHistory.lock
platforms/android/.gradle/4.6/fileHashes/fileHashes.bin
platforms/android/.gradle/4.6/fileHashes/fileHashes.lock
platforms/android/.gradle/4.6/taskHistory/taskHistory.bin
platforms/android/.gradle/4.6/taskHistory/taskHistory.lock
platforms/android/.gradle/buildOutputCleanup/cache.properties
platforms/android/app/src/main/res/mipmap-xxxhdpi/icon.png
platforms/android/app/build/intermediates/incremental/mergeDebugAssets/merger.xml
platforms/android/app/build/intermediates/incremental/mergeDebugResources/compile-file-map.properties
platforms/android/app/build/intermediates/incremental/mergeDebugResources/merger.xml
platforms/android/app/build/intermediates/incremental/packageDebug/debug/dex-renamer-state.txt
platforms/android/app/build/intermediates/incremental/packageDebug/debug/file-input-save-data.txt
platforms/android/app/build/intermediates/incremental/packageDebug/debug/zip-cache/eRaLxd3bt5fEfBA3AxSerKlP5Tk=
platforms/android/app/build/intermediates/res/debug/resources-debug.ap_
platforms/android/app/build/intermediates/res/merged/debug/drawable-hdpi_ic_action_next_item.png.flat
platforms/android/app/build/intermediates/res/merged/debug/drawable-hdpi_ic_action_previous_item.png.flat
platforms/android/app/build/intermediates/res/merged/debug/drawable-hdpi_ic_action_remove.png.flat
platforms/android/app/build/intermediates/res/merged/debug/drawable-land-hdpi_screen.png.flat
platforms/android/app/build/intermediates/res/merged/debug/drawable-land-ldpi_screen.png.flat
platforms/android/app/build/intermediates/res/merged/debug/drawable-land-mdpi_screen.png.flat
platforms/android/app/build/intermediates/res/merged/debug/drawable-land-xhdpi_screen.png.flat
platforms/android/app/build/intermediates/res/merged/debug/drawable-land-xxhdpi_screen.png.flat
platforms/android/app/build/intermediates/res/merged/debug/drawable-land-xxxhdpi_screen.png.flat
platforms/android/app/build/intermediates/res/merged/debug/drawable-mdpi_ic_action_next_item.png.flat
platforms/android/app/build/intermediates/res/merged/debug/drawable-mdpi_ic_action_previous_item.png.flat
platforms/android/app/build/intermediates/res/merged/debug/drawable-mdpi_ic_action_remove.png.flat
platforms/android/app/build/intermediates/res/merged/debug/drawable-port-hdpi_screen.png.flat
platforms/android/app/build/intermediates/res/merged/debug/drawable-port-ldpi_screen.png.flat
platforms/android/app/build/intermediates/res/merged/debug/drawable-port-mdpi_screen.png.flat
platforms/android/app/build/intermediates/res/merged/debug/drawable-port-xhdpi_screen.png.flat
platforms/android/app/build/intermediates/res/merged/debug/drawable-port-xxhdpi_screen.png.flat
platforms/android/app/build/intermediates/res/merged/debug/drawable-port-xxxhdpi_screen.png.flat
platforms/android/app/build/intermediates/res/merged/debug/drawable-xhdpi_ic_action_next_item.png.flat
platforms/android/app/build/intermediates/res/merged/debug/drawable-xhdpi_ic_action_previous_item.png.flat
platforms/android/app/build/intermediates/res/merged/debug/drawable-xhdpi_ic_action_remove.png.flat
platforms/android/app/build/intermediates/res/merged/debug/drawable-xxhdpi_ic_action_next_item.png.flat
platforms/android/app/build/intermediates/res/merged/debug/drawable-xxhdpi_ic_action_previous_item.png.flat
platforms/android/app/build/intermediates/res/merged/debug/drawable-xxhdpi_ic_action_remove.png.flat
platforms/android/app/build/intermediates/res/merged/debug/mipmap-hdpi_icon.png.flat
platforms/android/app/build/intermediates/res/merged/debug/mipmap-ldpi_icon.png.flat
platforms/android/app/build/intermediates/res/merged/debug/mipmap-mdpi_icon.png.flat
platforms/android/app/build/intermediates/res/merged/debug/mipmap-xhdpi_icon.png.flat
platforms/android/app/build/intermediates/res/merged/debug/mipmap-xxhdpi_icon.png.flat
platforms/android/app/build/intermediates/res/merged/debug/mipmap-xxxhdpi_icon.png.flat
platforms/android/app/build/intermediates/res/merged/debug/values_values.arsc.flat
platforms/android/app/build/intermediates/res/merged/debug/xml_config.xml.flat
platforms/android/app/build/intermediates/transforms/dexBuilder/debug/1.jar
platforms/android/app/build/intermediates/transforms/dexBuilder/debug/2.jar
platforms/android/app/build/intermediates/transforms/dexBuilder/debug/3.jar
platforms/android/app/build/intermediates/transforms/dexBuilder/debug/4.jar
platforms/android/app/build/intermediates/transforms/dexBuilder/debug/5.jar
platforms/android/app/build/intermediates/transforms/dexMerger/debug/0/classes.dex
platforms/android/app/build/outputs/apk/debug/AndroidManifest.xml
platforms/android/app/build/outputs/apk/debug/app-debug.apk
platforms/android/app/src/main/assets/www/cordova_plugins.js
platforms/android/app/src/main/assets/www/index.html
platforms/android/app/src/main/assets/www/static/css/app.07b1264bd4c5ed59e0324a4c633c8d26.css
platforms/android/app/src/main/assets/www/static/css/app.07b1264bd4c5ed59e0324a4c633c8d26.css.map
platforms/android/app/src/main/assets/www/static/js/vendor.ee573be494fa57637834.js
platforms/android/app/src/main/assets/www/static/js/vendor.ee573be494fa57637834.js.map
platforms/android/app/src/main/res/mipmap-hdpi/icon.png
platforms/android/app/src/main/res/mipmap-ldpi/icon.png
platforms/android/app/src/main/res/mipmap-mdpi/icon.png
platforms/android/app/src/main/res/mipmap-xhdpi/icon.png
platforms/android/app/src/main/res/mipmap-xxhdpi/icon.png
www/index.html
src/fonts/Framework7Icons-Regular.eot
src/fonts/Framework7Icons-Regular.ttf
src/fonts/Framework7Icons-Regular.woff
src/fonts/Framework7Icons-Regular.woff2
src/fonts/MaterialIcons-Regular.eot
src/fonts/MaterialIcons-Regular.ttf
src/fonts/MaterialIcons-Regular.woff
src/fonts/MaterialIcons-Regular.woff2
platforms/android/.gradle/buildOutputCleanup/cache.properties
platforms/android/.gradle/4.1/fileContent/fileContent.lock
platforms/android/.gradle/4.1/fileHashes/fileHashes.bin
platforms/android/.gradle/4.1/fileHashes/fileHashes.lock
platforms/android/.gradle/4.1/fileHashes/resourceHashesCache.bin
platforms/android/.gradle/4.1/javaCompile/classAnalysis.bin
platforms/android/.gradle/4.1/javaCompile/jarAnalysis.bin
platforms/android/.gradle/4.1/javaCompile/javaCompile.lock
platforms/android/.gradle/4.1/javaCompile/taskHistory.bin
platforms/android/.gradle/4.1/javaCompile/taskJars.bin
platforms/android/.gradle/4.1/taskHistory/fileSnapshots.bin
platforms/android/.gradle/4.1/taskHistory/taskHistory.bin
platforms/android/.gradle/4.1/taskHistory/taskHistory.lock
platforms/android/.gradle/4.6/fileHashes/fileHashes.bin
platforms/android/.gradle/4.6/fileHashes/fileHashes.lock
platforms/android/.gradle/4.6/taskHistory/taskHistory.bin
platforms/android/.gradle/4.6/taskHistory/taskHistory.lock
