.DS_Store
node_modules/
dist/
.idea/
build/
config/
data/
hooks/
platforms/
plugins/
typing/
vue-devtools/
www/
npm-debug.log
test/unit/coverage
test/e2e/reports
selenium-debug.log
platforms/android/.gradle/4.1/fileHashes/fileHashes.bin
platforms/android/app/build/intermediates/assets/debug/www/static/js/app.0fa6f433800a693ea0f8.js.map
platforms/android/.gradle/4.1/fileHashes/fileHashes.bin
platforms/android/.gradle/4.1/fileHashes/fileHashes.lock
platforms/android/.gradle/4.1/taskHistory/fileSnapshots.bin
platforms/android/.gradle/4.1/taskHistory/taskHistory.bin
platforms/android/.gradle/4.1/taskHistory/taskHistory.lock
platforms/android/app/build/intermediates/assets/debug/www/index.html
platforms/android/app/build/intermediates/assets/debug/www/static/js/app.0fa6f433800a693ea0f8.js
platforms/android/app/src/main/assets/www/static/js/manifest.b79038a7aa32963f351c.js.map
platforms/android/app/build/intermediates/assets/debug/www/static/js/app.810cdabfb8dafb3595e8.js
platforms/android/app/build/intermediates/assets/debug/www/static/js/app.810cdabfb8dafb3595e8.js.map
platforms/android/app/build/intermediates/assets/debug/www/static/js/manifest.aafc3d09ed4e631b01df.js
platforms/android/app/build/intermediates/assets/debug/www/static/js/manifest.aafc3d09ed4e631b01df.js.map
platforms/android/app/build/intermediates/assets/debug/www/static/js/manifest.b79038a7aa32963f351c.js
platforms/android/app/build/intermediates/assets/debug/www/static/js/manifest.b79038a7aa32963f351c.js.map
platforms/android/app/build/intermediates/incremental/mergeDebugAssets/merger.xml
platforms/android/app/build/intermediates/incremental/packageDebug/debug/dex-renamer-state.txt
platforms/android/app/build/intermediates/incremental/packageDebug/debug/file-input-save-data.txt
platforms/android/app/build/outputs/apk/debug/app-debug.apk
platforms/android/app/src/main/assets/www/index.html
platforms/android/app/src/main/assets/www/static/js/app.0fa6f433800a693ea0f8.js
platforms/android/app/src/main/assets/www/static/js/app.0fa6f433800a693ea0f8.js.map
platforms/android/app/src/main/assets/www/static/js/app.810cdabfb8dafb3595e8.js
platforms/android/app/src/main/assets/www/static/js/app.810cdabfb8dafb3595e8.js.map
platforms/android/app/src/main/assets/www/static/js/manifest.aafc3d09ed4e631b01df.js
platforms/android/app/src/main/assets/www/static/js/manifest.aafc3d09ed4e631b01df.js.map
platforms/android/app/src/main/assets/www/static/js/manifest.b79038a7aa32963f351c.js
www/static/js/vendor.ee573be494fa57637834.js.map
www/static/css/app.07b1264bd4c5ed59e0324a4c633c8d26.css
www/static/css/app.07b1264bd4c5ed59e0324a4c633c8d26.css.map
www/static/js/app.810cdabfb8dafb3595e8.js
www/static/js/app.810cdabfb8dafb3595e8.js.map
www/static/js/manifest.b79038a7aa32963f351c.js
www/static/js/manifest.b79038a7aa32963f351c.js.map
www/static/js/vendor.ee573be494fa57637834.js
www/static/js/manifest.b79038a7aa32963f351c.js.map
platforms/android/.gradle/4.1/fileHashes/fileHashes.bin
platforms/android/.gradle/4.1/fileHashes/fileHashes.lock
platforms/android/.gradle/4.1/taskHistory/fileSnapshots.bin
platforms/android/.gradle/4.1/taskHistory/taskHistory.bin
platforms/android/.gradle/4.1/taskHistory/taskHistory.lock
platforms/android/app/build/intermediates/assets/debug/www/index.html
platforms/android/app/build/intermediates/assets/debug/www/static/js/app.0fa6f433800a693ea0f8.js
platforms/android/app/build/intermediates/assets/debug/www/static/js/app.0fa6f433800a693ea0f8.js.map
platforms/android/app/build/intermediates/assets/debug/www/static/js/app.810cdabfb8dafb3595e8.js
platforms/android/app/build/intermediates/assets/debug/www/static/js/app.810cdabfb8dafb3595e8.js.map
platforms/android/app/build/intermediates/assets/debug/www/static/js/manifest.aafc3d09ed4e631b01df.js
platforms/android/app/build/intermediates/assets/debug/www/static/js/manifest.aafc3d09ed4e631b01df.js.map
platforms/android/app/build/intermediates/assets/debug/www/static/js/manifest.b79038a7aa32963f351c.js
platforms/android/app/build/intermediates/assets/debug/www/static/js/manifest.b79038a7aa32963f351c.js.map
platforms/android/app/build/intermediates/incremental/mergeDebugAssets/merger.xml
platforms/android/app/build/intermediates/incremental/packageDebug/debug/dex-renamer-state.txt
platforms/android/app/build/intermediates/incremental/packageDebug/debug/file-input-save-data.txt
platforms/android/app/build/outputs/apk/debug/app-debug.apk
platforms/android/app/src/main/assets/www/index.html
platforms/android/app/src/main/assets/www/static/js/app.0fa6f433800a693ea0f8.js
platforms/android/app/src/main/assets/www/static/js/app.0fa6f433800a693ea0f8.js.map
platforms/android/app/src/main/assets/www/static/js/app.810cdabfb8dafb3595e8.js
platforms/android/app/src/main/assets/www/static/js/app.810cdabfb8dafb3595e8.js.map
platforms/android/app/src/main/assets/www/static/js/manifest.aafc3d09ed4e631b01df.js
platforms/android/app/src/main/assets/www/static/js/manifest.aafc3d09ed4e631b01df.js.map
platforms/android/app/src/main/assets/www/static/js/manifest.b79038a7aa32963f351c.js
platforms/android/app/src/main/assets/www/static/js/manifest.b79038a7aa32963f351c.js.map
www/static/css/app.07b1264bd4c5ed59e0324a4c633c8d26.css
www/static/css/app.07b1264bd4c5ed59e0324a4c633c8d26.css.map
www/static/js/app.810cdabfb8dafb3595e8.js
www/static/js/app.810cdabfb8dafb3595e8.js.map
www/static/js/manifest.b79038a7aa32963f351c.js
www/static/js/vendor.ee573be494fa57637834.js
www/static/js/vendor.ee573be494fa57637834.js.map
platforms/android/.gradle/4.1/fileHashes/fileHashes.bin
platforms/android/.gradle/4.1/fileHashes/fileHashes.lock
platforms/android/.gradle/4.1/taskHistory/fileSnapshots.bin
platforms/android/.gradle/4.1/taskHistory/taskHistory.bin
platforms/android/.gradle/4.1/taskHistory/taskHistory.lock
platforms/android/app/build/intermediates/assets/debug/www/index.html
platforms/android/app/build/intermediates/assets/debug/www/static/js/app.810cdabfb8dafb3595e8.js
platforms/android/app/build/intermediates/assets/debug/www/static/js/app.810cdabfb8dafb3595e8.js.map
platforms/android/app/build/intermediates/assets/debug/www/static/js/manifest.b79038a7aa32963f351c.js
platforms/android/app/build/intermediates/assets/debug/www/static/js/manifest.b79038a7aa32963f351c.js.map
platforms/android/app/build/intermediates/incremental/mergeDebugAssets/merger.xml
platforms/android/app/build/intermediates/incremental/packageDebug/debug/dex-renamer-state.txt
platforms/android/app/build/intermediates/incremental/packageDebug/debug/file-input-save-data.txt
platforms/android/app/build/outputs/apk/debug/app-debug.apk
platforms/android/app/src/main/assets/www/index.html
platforms/android/app/src/main/assets/www/static/js/app.810cdabfb8dafb3595e8.js
platforms/android/app/src/main/assets/www/static/js/app.810cdabfb8dafb3595e8.js.map
platforms/android/app/src/main/assets/www/static/js/manifest.b79038a7aa32963f351c.js
platforms/android/app/src/main/assets/www/static/js/manifest.b79038a7aa32963f351c.js.map
www/static/css/app.07b1264bd4c5ed59e0324a4c633c8d26.css
www/static/css/app.07b1264bd4c5ed59e0324a4c633c8d26.css.map
www/static/js/app.810cdabfb8dafb3595e8.js
www/static/js/app.810cdabfb8dafb3595e8.js.map
www/static/js/manifest.b79038a7aa32963f351c.js
www/static/js/manifest.b79038a7aa32963f351c.js.map
www/static/js/vendor.ee573be494fa57637834.js
www/static/js/vendor.ee573be494fa57637834.js.map
platforms/android/app/build/intermediates/assets/debug/www/index.html
platforms/android/.gradle/4.1/fileHashes/fileHashes.bin
platforms/android/.gradle/4.1/fileHashes/fileHashes.lock
platforms/android/.gradle/4.1/taskHistory/fileSnapshots.bin
platforms/android/.gradle/4.1/taskHistory/taskHistory.bin
platforms/android/.gradle/4.1/taskHistory/taskHistory.lock
platforms/android/app/build/outputs/apk/debug/app-debug.apk
platforms/android/app/build/intermediates/incremental/mergeDebugAssets/merger.xml
platforms/android/app/build/intermediates/incremental/packageDebug/debug/dex-renamer-state.txt
platforms/android/app/build/intermediates/incremental/packageDebug/debug/file-input-save-data.txt
platforms/android/app/src/main/assets/www/index.html
platforms/android/app/build/intermediates/incremental/mergeDebugAssets/merger.xml
